body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

header {
    background: #E5C2AC;
}

.container {
    width: 80%;
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.story {
    background: #F3F3F3;
}

footer {
    background: #424242;
}

