body {
  color: #444;
}

p {
  font-size: 1.15em;
  font-weight: 300;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.caps {
  letter-spacing: -.01em
}

.button-bigger {
  padding: 1.75rem 3rem;
}

.campaign-video {
  position: relative;
  padding-bottom: 66.6%;
  height: 0;
}

.campaign-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contributors-list .h5 {
  white-space: nowrap;
}