body {
  color: #444;
}

p {
  font-size: 1.15em;
  font-weight: 300;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.caps {
  letter-spacing: -.01em
}

.button-bigger {
  padding: 1.75rem 3rem;
}

.campaign-video {
  position: relative;
  padding-bottom: 66.6%;
  height: 0;
}

.campaign-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 400px) {
  .avatars {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .avatars > li {
    -webkit-flex: 0 1 49.8%;
        -ms-flex: 0 1 49.8%;
            flex: 0 1 49.8%;
  }

  .button-bigger {
    line-height: 1.2em;
  }
}

.contributors-list .h5 {
  white-space: nowrap;
}

.eventials-speakers {
  margin-left: auto;
  margin-right: auto;
}

.eventials-speaker {
  overflow: hidden;
  padding-bottom: 2rem;
}

.eventials-speaker-photo {
  box-sizing: border-box;
  width: 17.5%;
  padding: 0 1em 0 0;
  float: left;
}

.eventials-speaker-info {
  width: 82.5%;
  float: left;
}

.eventials-speaker-photo img {
  max-width: 100%;
  border-radius: 50%;
}

.eventials-speakers .h3 {
  margin-top: 0;
}

.eventials-speaker .h4 {
  font-size: 1em;
}

.eventials-speakers p {
  font-size: 1em;
  margin-bottom: 0;
}

@media (max-width: 40em) {
  .eventials-speaker-photo {
    float: none;
    width: 33.3%;
    padding: 0;
    margin: 0 auto 1em;
  }

  .eventials-speaker-info {
    width: 100%;
    float: none;
  }

  .eventials-speakers .h3,
  .eventials-speakers .h4 {
    text-align: center;
  }

  .button-bigger {
    line-height: 1.2em;
  }
}
