p {
  font-size: 1.15em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.caps {
  letter-spacing: -.01em
}

.button-bigger {
  padding: 1.75rem 3rem;
}